* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

:root {


    font-size: 62.5%;
}

body {
    height: 100vh;
}

.menu {
    height: 100vh;
    background-image: url('../assets/images/menu.jpeg');
    background-repeat: no-repeat;   
    background-size: cover;          
    background-position: center;    
    background-attachment: fixed;   

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    line-height: 2.9rem;
    font-size: 2.4rem;
    color: #c5c6d6;
    text-align: center;
}

button {
  font-family: 'DM sans', sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  color: #FFFFFF;


  width: 17.4rem;
  height: 5.2rem;

  background-color: #307233;
  border-radius: .4rem;
  border-style: none;

  margin-top: 5rem;

}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(137, 139, 165);
}

.hide {
  display: none;
}

canvas {
    display: block;
    width: 100%;
    max-width: 960px;
    height: auto;
    border: 0;
    padding: 0;
}